/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background: linear-gradient(135deg, #0c0c0c, #2c3e50); /* Fondo oscuro */
    text-align: center;
}

/* Encabezado */
header {
	background: url('banner end.jpg') no-repeat center top;
    background-size: cover;
    padding: 20px;
}

h1 {
    font-size: 3em;
    color: #fefefe; /* Rojo intenso */
    margin: 0;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
}

.movie-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

/* Tarjeta de la película */
.movie-card {
    background: rgba(30, 30, 30, 0.9);
    border-radius: 15px;
    width: 80%;
    max-width: 800px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.main-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie-card h2 {
    font-size: 1.8em;
    margin: 10px 0;
    color: #f39c12; /* Amarillo */
}

.movie-card p {
    margin: 10px 0;
    line-height: 1.6;
}

.movie-card ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}

.image-gallery img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.image-gallery img:hover {
    transform: scale(1.1);
}

/* Botón de detalles */
.details-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #e74c3c; /* Rojo intenso */
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1em;
    transition: background 0.3s, transform 0.2s;
}

.details-button:hover {
    background: #c0392b; /* Rojo más oscuro al pasar el ratón */
    transform: scale(1.05);
}
